body { 
  font-family: monospace; 
}

h1 {
  font-size: 3em;
}

.row > div {
  float: left;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 3rem;
  line-height: 7rem;
}

.row {
  clear: both;
  margin: auto;
  width: 302px;
}

.top {
  border-bottom: 1px solid #000;
}

.bottom {
  border-top: 1px solid #000;
}

.left {
  border-right: 1px solid #000;
}

.right {
  border-left: 1px solid #000;
}

#board {
  padding-top: 3em;
  text-align: center;
}